@import 'src/styles/variable';

.Hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 120px 96px;
  height: calc(100vh - 240px);
  .LogoWrap {
    .Logo {
      font-size: 108px;
      letter-spacing: -2px;
    }
  }
  .Present {
    margin-top: 22px;
    span {
      font-size: 32px;
    }
  }
  .Shade {
    position: absolute;
    &:first-child {
      left: 0;
      bottom: 0;
      width: 80%;
    }
    &:nth-child(2) {
      right: 0;
      top: 0;
      height: 55%;
    }
  }
}
