@import 'src/styles/variable';

.Footer {
  position: relative;
  padding: 80px 0;
  text-align: center;
  .Apply {
    margin-bottom: 48px;
    a {
      display: inline-block;
      padding: 20px;
      min-width: 280px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: white;
      border: 0;
      background-color: #a5a0d1;
      box-shadow: 8px 8px 0 rgba(130, 129, 141,.2);
    }
  }
  p {
    font-size: $p-font-sz;
  }
}
