@import 'src/styles/variable';

.History {
  position: relative;
  padding: 120px 96px 60px 96px;
  min-height: calc(100vh - 240px);
  .Title {
    padding: 24px 0;
    font-size: 112px;
    text-align: center;
  }
  .Underbar {
    margin: 20px auto;
    width: 240px;
    height: 5px;
    background: #000;
  }
  .Desc {
    padding: 24px 0;
    margin-bottom: 48px;
    font-size: 21px;
    text-align: center;
  }
  .YearWrap {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    .Year {
      padding: 48px 0;
      opacity: 0;
      transform: translateY(40px);
      transition:
        opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),
        transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      h2 {
        font-size: 52px;
        margin-bottom: 24px;
      }
      p {
        padding: 24px 0;
        font-size: 18px;
        line-height: 1.4;
      }
      &:nth-child(odd) {
        align-self: flex-start;
        text-align: left;
      }
      &:nth-child(even) {
        align-self: flex-end;
        text-align: right;
      }
      &:nth-child(1) {
        transition-delay: .2s;
      }
      &:nth-child(2) {
        transition-delay: .4s;
      }
      &:nth-child(3) {
        align-self: center;
        margin-top: 24px;
        h2 {
          font-size: 72px;
        }
        p {
          font-size: 22px;
        }
        transition-delay: .6s;
      }
    }
  }
  &.active {
    .YearWrap .Year {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
